<!DOCTYPE html>
<head>
  <title></title>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="vendor/stylesheets/normalize.css" />
  <link rel="stylesheet" href="vendor/stylesheets/foundation.min.css" />
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7685452/716508/css/fonts.css" />
  <link rel="stylesheet" href="stylesheets/sss.css" />
</head>
<body>
  <div class='wrapper'>
    <header class='site-header'>
      <div class='row'>
        <div class='large-2 columns'></div>
      </div>
      <div class='row'>
        <div class='large-4 columns'>
          <h1 class='sss-logo'>
            <div class='sss-logo__wrapper'>
              <div class='sss-logo__l1'>
                Seven
              </div>
              <div class='sss-logo__l2'>
                St<span class="oh-no-you-didnt oh-no-you-didnt--mint">o</span>ps
              </div>
              <div class='sss-logo__l3'>
                S<span class="oh-no-you-didnt oh-no-you-didnt--purple">o</span>uth
              </div>
            </div>
          </h1>
        </div>
        <div class='large-8 columns'>
          <h2 class='mission-statement'>
            An event space — for start-ups, from a st<span class="ey-up">a</span>rt-up
          </h2>
        </div>
      </div>
      <nav class='site-nav'></nav>
      <div class='row'>
        <div class='large-4 columns'>
          <div class='site-nav__link'>
            Follow us on Twitter for updates -<a href="http://twitter.com/sevenstopssouth"> @sevenstopssouth</a>
          </div>
        </div>
        <div class='large-4 columns'>
          <div class='site-nav__link'>
            Use Seven Stops South for your event. <a href="mailto:go@hassle.com">Contact us.</a>
          </div>
        </div>
        <div class='large-4 columns'>
          <div class='site-nav__link'>
            Brought to you by
            <div class='hassle-logo'>
              <a href="http://hassle.com">H<span class="ey-up">A</span>SSLE.com</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <header class='site-header'>
      <div class='row'>
        <div class='large-2 columns'></div>
      </div>
      <div class='row'>
        <div class='large-4 columns'>
          <h1 class='sss-logo'>
            <div class='sss-logo__wrapper'>
              <div class='sss-logo__l1'>
                Seven
              </div>
              <div class='sss-logo__l2'>
                St<span class="oh-no-you-didnt oh-no-you-didnt--mint">o</span>ps
              </div>
              <div class='sss-logo__l3'>
                S<span class="oh-no-you-didnt oh-no-you-didnt--purple">o</span>uth
              </div>
            </div>
          </h1>
        </div>
        <div class='large-8 columns'>
          <h2 class='mission-statement'>
            An event space — for start-ups, from a st<span class="ey-up">a</span>rt-up
          </h2>
        </div>
      </div>
      <nav class='site-nav'></nav>
      <div class='row'>
        <div class='large-4 columns'>
          <div class='site-nav__link'>
            Follow us on Twitter for updates -<a href="http://twitter.com/sevenstopssouth"> @sevenstopssouth</a>
          </div>
        </div>
        <div class='large-4 columns'>
          <div class='site-nav__link'>
            Use Seven Stops South for your event. <a href="mailto:go@hassle.com">Contact us.</a>
          </div>
        </div>
        <div class='large-4 columns'>
          <div class='site-nav__link'>
            Brought to you by
            <div class='hassle-logo'>
              <a href="http://hassle.com">H<span class="ey-up">A</span>SSLE.com</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class='supported-by'>
      <div class='row'>
        <div class='large-2 columns'>
          <h3>Brought to you by</h3>
        </div>
        <div class='large-10 columns'>
          <div class='hassle-logo'>
            H<span class="ey-up">A</span>SSLE.com
          </div>
          <div class='row'>
            <div class='large-9 columns'>
              <p>
                Hassle.com is an online marketplace that matches busy working professionals with local trusted cleaners for the home. It allows you to find, book and pay for your cleaner’s time via its online platform. Hassle.com’s mission is to help busy people reclaim their free time and maintain a calm, clean and happy home.
              </p>
            </div>
            <div class='large-3 columns'>
              <a>www.hassle.com</a>
              <a>@hassle</a>
              <a>Join the team</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class='site-footer'>
      <div class='row'>
        <div class='large-12 columns'>
          <p>SevenStopsSouth is a project brought to you by <a href="http://hassle.com">Hassle.com</a> and curated by <a href="http://twitter.com/gearoidorourke">Gearóid O'Rourke</a>.</p>
        </div>
      </div>
    </footer>
    
  </div>
  <script src="vendor/javascripts/jquery.js"></script>
  <script src="vendor/javascripts/foundation.min.js"></script>
  <script>$(document).foundation();</script>
</body>
