// Colours
$purple: #6841df
$mint: #13eff2
$peach: #ffcc80
$grey: #b0bec5

html
  background: #000
  padding: 8px

body
  font-family: "Gotham Rounded"
  background: $peach

.wrapper

  height: 100%

// Typography
h1, h2, h3, h4, h5, h6
  font-family: "Gotham Rounded"
  font-weight: 600
  text-shadow: 4px 4px 0px rgba(255, 255, 255, 1)

// Site nav
.site-nav

.site-nav__link
  display: block
  text-transform: uppercase
  text-align: center
  margin: 1em 0
  padding: 1.25em 1em 1em 1em
  margin-left: 1em
  border-radius: 5px
  color: $purple
  font-size: 14px
  line-height: 0.8
  background: #fff
  border: 6px solid #000
  font-weight: 600
  -webkit-box-shadow: 3px 3px 0px 1px rgba($grey,1)
  -moz-box-shadow: 3px 3px 0px 1px rgba($grey,1)
  box-shadow: 3px 3px 0px 1px rgba($grey,1)

// Mission Statement
.mission-statement
  text-transform: uppercase
  line-height: 1
  font-size: 3.5em


// Header
.site-header
  padding: 5em 0

// Event listings
.event-listings
  list-style: none
  padding: 0
  margin: 0

.event-listsings__listing--future
  border-color: $mint

.future-events,
.past-events
  padding: 3em 0
  h3
    text-align: right

.future-events
  background: #fff
  border-top: 8px solid #000
  border-bottom: 8px solid #000

.past-events
  border-bottom: 8px solid #000
  background-image: url(../images/texture_1.gif)

// Funky panel
.panel--sss
  border-radius: 5px
  border: 6px solid #000000
  background: #ffffff
  -webkit-box-shadow: 10px 10px 0px 2px rgba($grey,1)
  -moz-box-shadow: 10px 10px 0px 2px rgba($grey,1)
  box-shadow: 10px 10px 0px 2px rgba($grey,1)

// Supported by section
.supported-by
  background-color: #ccc
  padding: 3em 0 2em 0
