// Colours
$purple: #6841df
$mint: #13eff2
$peach: #ffcc80
$grey: #b0bec5


$base: #f2f2f2
$text: #121212

html
  background: #ffffff
  // padding: 10px

body
  font-family: "Gotham Rounded"
  background: $text

.wrapper

  height: 100%

// Typography
h1, h2, h3, h4, h5, h6
  font-family: "Gotham Rounded"
  font-weight: 500
  color: $text

p
  line-height: 1.8

a
  color: $purple

.button
  background: $mint
  font-family: "Gotham Rounded"
  line-height: 1
  border-radius: 3px
  color: $purple
  font-weight: 600
  display: block
  &:hover
    background: $purple
    color: $mint

// Logo
.sss-logo
  border: 9px solid $text
  height: 6.75em
  width: 6.75em
  border-radius: 10px
  text-transform: uppercase
  background: #fff
  font-weight: 600
  letter-spacing: 1.5px

  .oh-no-you-didnt
    border-color: $text
    border-width: 0.15em
    z-index: 1
    position: relative

.sss-logo__wrapper
  padding: 0.525em
  overflow: hidden
  position: relative

.sss-logo__l1,
.sss-logo__l2,
.sss-logo__l3
  font-size: 1.2em
  color: $text
  line-height: 1
  display: block


.sss-logo__l3
  margin-left: 0.63em
  margin-top: 1.4em

  &::before
    content: ""
    position: absolute
    display: block
    width: 0.16em
    height: 2em
    background: $text
    top: 2.125em
    left: 2.02em

// Site nav
.site-nav
  margin-top: 4em

.site-nav__link
  display: block
  border-top: 6px solid darken($purple, 25%)
  padding: 24px 0
  line-height: 1.4
  color: #e5e5e5
  font-size: 1.25em
  font-weight: 200
  a
    color: #fff
    font-weight: 400
  .hassle-logo
    font-size: 1em
    margin: 0
    .ey-up
      padding-top: 2px

// Mission Statement
.mission-statement
  text-transform: uppercase
  line-height: 1.15
  font-size: 3.875em
  border-top: 12px solid $mint
  padding: 24px 0 24px 0
  letter-spacing: 1px
  color: #fff

// Header
.site-header
  padding: 7em 0 6em 0
  background: $purple

// Event listings
.event-listings
  list-style: none
  padding: 0
  margin: 0
  >li
    margin: 0 0 4em 0

.event-listsings__listing


  h1
    text-transform: uppercase
    line-height: 1.2
    margin: 0.5em 0 0.25em 0
    color: $text

  h2
    font-size: 1.5em
    letter-spacing: -1px
    font-weight: 300
    margin-bottom: 1em

  h6
    color: #666

  .logistics
    list-style: none
    padding: 0
    margin: 0
    li
      border-top: 1px solid $base
      padding: 10px 0

.event-listsings__listing--future
  border-color: $mint

.future-events,
.past-events
  padding: 5em 0 0 0

.supported-by,
.site-footer
  padding: 5em 0

.future-events,
.past-events,
.supported-by,
.site-footer
  h3
    border-top: 6px solid $mint
    text-transform: uppercase
    line-height: 1.1
    font-size: 1.25em
    letter-spacing: 1px
    padding-top: 20px

.supported-by
  h3
    color: #fff
    border-top: 6px solid darken($purple, 25%)

.future-events
  background: #ffffff

.past-events
  background: $base


// Silly shit
.oh-no-you-didnt
  display: inline-block
  border: 6px solid #333
  color: #fff
  height: 0.75em
  width: 0.74em
  overflow: hidden
  border-radius: 100px
.oh-no-you-didnt--mint
  background: $mint
  color: $mint
.oh-no-you-didnt--purple
  background: $purple
  color: $purple

.ey-up
  display: inline-block
  transform: rotate(180deg)
  transform-origin: centre centre
  line-height: 0.8
  padding-top: 6px
  padding-right: 2px

.hassle-logo
  font-size: 3.75em
  color: #fff
  font-weight: 200
  margin-top: 14px
  margin-bottom: 0.25em

// Funky panel
.panel--sss
  background: none
  border: none
  border-top: 6px solid darken($purple, 25%)
  padding: 20px 0 0 0
  position: relative

  &::before
    content: ""
    display: block
    width: 35px
    height: 35px
    border: 6px solid darken($purple, 25%)
    border-radius: 20px
    background: $mint
    position: absolute
    top: -22px
    right: 15%

.panel--inverted
  background: $base
  border-top: 10px solid #ffffff

.panel--purple
  background: #fff
  border-top: 10px solid $purple


// Supported by section
.supported-by
  background-color: $purple
  border-top: 1px dotted $text
  p, h4
    color: #fff
  a
    color: #fff
    font-size: 1em
    display: block
    border-top: 1px solid darken($purple, 25%)
    padding: 10px 0
// Mao
.map iframe
  pointer-events: none
  display: block

// Footer
.site-footer
  background: #333
  padding: 3em 0 2em 0
  p
    text-align: center
    color: $base
    font-size: 0.75em
    a
      color: $mint
