%footer.site-footer
  .row
    .large-12.columns
      %p SevenStopsSouth is a project brought to you by <a href="http://hassle.com">Hassle.com</a> and curated by <a href="http://twitter.com/gearoidorourke">Gearóid O'Rourke</a>.
