%section.supported-by
  .row
    .large-10.large-offset-1.columns
      .panel.panel--sss
        .row
          .large-4.columns
            LOGO
          .large-8.columns
            %p
              Hassle.com is an online marketplace that matches busy working professionals with local trusted cleaners for the home. It allows you to find, book and pay for your cleaner’s time via its online platform. Hassle.com’s mission is to help busy people reclaim their free time and maintain a calm, clean and happy home.
