%header.site-header
  .row
    .large-3.columns
      <img src="images/logo.gif">
      %nav.site-nav
        %a.site-nav__link Get in contact
        %a.site-nav__link  @SevenStopsSouth
    .large-9.columns
      %h2.mission-statement
        An event space in south London &mdash; inside a startup &mdash; where tech, design, data &amp; start-up people get together.
