%header.site-header

  .row
    .large-6.columns
      %h2.mission-statement
        An event space — for startups, from a startup
      %nav.site-nav
        %a.site-nav__link Use Seven Stops South for your event
        %a.site-nav__link  Follow @SevenStopsSouth for updates
        %a.site-nav__link  Brought to you by Hassle.com. Find out more.
    .large-3.columns
