
%header.site-header
  .row
    .large-2.columns

  .row
    .large-4.columns
      %h1.sss-logo
        .sss-logo__wrapper
          .sss-logo__l1
            Seven
          .sss-logo__l2
            St<span class="oh-no-you-didnt oh-no-you-didnt--mint">o</span>ps
          .sss-logo__l3
            S<span class="oh-no-you-didnt oh-no-you-didnt--purple">o</span>uth

    .large-8.columns
      %h2.mission-statement
        An event space — for start-ups, from a st<span class="ey-up">a</span>rt-up
  %nav.site-nav
  .row
    .large-4.columns
      .site-nav__link
        Follow us on Twitter for updates -<a href="http://twitter.com/sevenstopssouth"> @sevenstopssouth</a>
    .large-4.columns
      .site-nav__link
        Use Seven Stops South for your event. <a href="mailto:go@hassle.com">Contact us.</a>
    .large-4.columns
      .site-nav__link
        Brought to you by
        .hassle-logo
          <a href="http://hassle.com">H<span class="ey-up">A</span>SSLE.com</a>
