%header.site-header
  .row
    .large-3.columns
      Seven Stops South Logo
    .large-9.columns
      %nav.site-nav
        %ul.site-nav__links
          %li.site-nav__link
            %a Get in contact
            %a Follow us on Twitter
      %h2.mission-statement
        A space for cool things to happen
