%h6 In conversation with...
%h1 Debbie W<span class="oh-no-you-didnt oh-no-you-didnt--mint">o</span>sc<span class="oh-no-you-didnt oh-no-you-didnt--purple">o</span>w
.row
  .large-9.columns
    %p Love Home Swap is the world's biggest home exchange club. With over 70,000 properties, it helps travellers to stay in beautiful homes worldwide for free. Love Home Swap has a strategic partnership with Wyndham Exchange and Rentals.
    %p Love Home Swap is the world's biggest home exchange club. With over 70,000 properties, it helps travellers to stay in beautiful homes worldwide for free. Love Home Swap has a strategic partnership with Wyndham Exchange and Rentals.

  .large-3.columns
    <a href="" class="button">Grab a ticket</a>
    %ul.logistics
      %li
        Tickets required
      %li
        Free
      %li
        14:00 — 15:00
