%section.future-events
  .row
    .large-2.columns
      %h3 Upcoming Events
    .large-10.columns
      %ul.event-listings
        %li.panel.panel--sss.panel--future
          %article.event-listsings__listing
            = partial "partials/listing"

-# %section.past-events
-#   .row
-#     .large-2.columns
-#       %h3 Previous events
-#
-#     .large-10.columns
-#       %ul.event-listings
-#         %li.panel.panel--sss.panel--inverted
-#           %article.event-listsings__listing
-#             I am a past event
-#         %li.panel.panel--sss
-#           %article.event-listsings__listing
-#             I am a past event
-#         %li.panel.panel--sss
-#           %article.event-listsings__listing
-#             I am a past event


-# Iterating over data in a yml file

-#   - data.events.future.each do |event|
-#    %li
-#      %h1= event["name"]
-#      %p= event["date"]
-#      %p= event["desc_html"]
