%section.future-events
  .row
    .large-3.columns
      %h3 Future
    .large-9.columns
      %ul.event-listings
        %li
          %article.event-listsings__listing
            I am a future event
%section.past-events
  .row
    .large-3.columns
      %h3 Past
    .large-9.columns
      %ul.event-listings
        %li
          %article.event-listsings__listing
            I am a past event
