%section.future-events
  .row
    .large-2.columns
      %h3 Upcoming Events
    .large-10.columns
      %ul.event-listings
        %li.panel.panel--sss.panel--future
          %article.event-listsings__listing
            %h6 In conversation with...
            %h1 Debbie W<span class="oh-no-you-didnt oh-no-you-didnt--mint">o</span>ssk<span class="oh-no-you-didnt oh-no-you-didnt--purple">o</span>w
            %h2 CEO, Love Home Swap
            .row
              .large-9.columns
                %p Debbie Wosskow is an entrepreneur, investor and sharing economy expert. She is CEO of Love Home Swap, the world’s leading home exchange site.  Debbie is the author of ‘Unlocking the Sharing Economy’ – the independent review of the sharing economy commissioned by the UK government in 2014.  She is also the Founding Chair of Sharing Economy UK – the new trade association for the sharing economy.
                %p A former management consultant, she launched her first business, marketing and communications consultancy Mantra, at the age of just 25. Building Mantra over a decade, Debbie sold to the Loewy Group.
                %p Debbie is a regular commentator on travel, collaborative consumption and entrepreneurship on TV and in print and sits on a number of advisory boards, as well as being a Trustee of the Hampstead Theatre.

              .large-3.columns
                <a href="mailto:go@hassle.com" class="button">Grab a ticket</a>
                %ul.logistics
                  %li
                    Tuesday,  10th Nov
                  %li
                    12:30 — 13:30
                  %li
                    Tickets required
                  %li
                    Free

        %li.panel.panel--sss.panel--future
          %article.event-listsings__listing
            %h6 In conversation with...
            %h1 Ge<span class="oh-no-you-didnt oh-no-you-didnt--mint">o</span>rg Ell
            %h2 Country Director, UK & Ireland at Tesla Motors
            .row
              .large-9.columns
                %p Georg serves as Country Director for the UK & Ireland at Tesla Motors, where he is responsible for growing the business and building an outstanding and talented team of passionate people focussed on our customers and the company's mission to accelerate the world's movement to sustainable transport.
                %p Prior to Tesla Georg was Fuzebox’s VP and General Manager for Europe, Middle East and Africa (EMEA), where he was responsible for establishing the business in the region, reporting to the CEO.

              .large-3.columns
                %ul.logistics
                  %li
                    Date TBC
                  %li
                    Tickets required
                  %li
                    Free

          %li.panel.panel--sss.panel--future
            %article.event-listsings__listing
              %h6 In conversation with...
              %h1 Michael Act<span class="oh-no-you-didnt oh-no-you-didnt--mint">o</span>n-Smith
              %h2 Founder, Mind Candy

              .row
                .large-9.columns
                  %p Michael Acton Smith is CEO and founder of kids entertainment company Mind Candy – the creators of global kids phenomenon Moshi Monsters. He has been described by The Daily Telegraph as "a rock star version of Willy Wonka" and by The Independent as "a polite version of Bob Geldof."
                  %p Mind Candy created the online world of Moshi Monsters, which has over 90 million users around the world and has expanded offline into best selling toys, the number one selling kids magazine in the UK, a best selling DS video game, top 5 music album which has gone gold in the UK, books, membership cards, trading cards and much more.
                .large-3.columns
                  %ul.logistics
                    %li
                      Date TBC
                    %li
                      Tickets required
                    %li
                      Free


%section.past-events
  .row
    .large-2.columns
      %h3 Previous events

    .large-10.columns
      %ul.event-listings
        %li.panel.panel--sss.panel--future
          %article.event-listsings__listing
            %h6 Sharing Expertise
            %h1 Cust<span class="oh-no-you-didnt oh-no-you-didnt--purple">o</span>mer Service Meet-up
            %h2 Eventbrite &amp; Hassle.com CS teams

            .row
              .large-9.columns
                %p The Hassle.com and Eventbrite temas put there heads together for a fun customer service sharer and pizza! The event will consist of a meet and great of team members discussing their roles within operations. Both companies will present their customer journey timeline, customer service insights and stories, followed by a QA.
              .large-3.columns
                %ul.logistics
                  %li
                    Thursday, Oct 8th
                  %li
                    Tickets required
                  %li
                    Free


-# Iterating over data in a yml file

-#   - data.events.future.each do |event|
-#    %li
-#      %h1= event["name"]
-#      %p= event["date"]
-#      %p= event["desc_html"]
%section.map
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.8125032745215!2d-0.1131192481011106!3d51.47995582042943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876048e9eccc941%3A0x1ee647cbfaa9f60d!2sCranmer+House%2C+39+Brixton+Rd%2C+London+SW9+6DZ!5e0!3m2!1sen!2suk!4v1446826431443" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
